In [1]:
import numpy as np
import pandas as pd
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print s
print s[0]
print s.median()
print s[s>s.median()]

print s[['a','e']]
print 'f' in s

a    0.919489
b    1.331498
c    0.277596
d    0.228301
e    0.586903
dtype: float64
0.919489101746
0.586903193976
a    0.919489
b    1.331498
dtype: float64
a    0.919489
e    0.586903
dtype: float64
False

In [2]:
d = {'a':0, 'b':1, 'c':2}
pd.Series(d)

a    0
b    1
c    2
dtype: int64

In [3]:
pd.Series(5,index=['a','b','c'])

a    5
b    5
c    5
dtype: int64

In [4]:
d = {'one': pd.Series([1,2,3], index=['a','b','c']),
    'two': pd.Series([1,2,3,4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [5]:
print pd.DataFrame(d, index=['d','b','a'])
print pd.DataFrame(d, index=['a','b','c'], columns=['two', 'three'])

   one  two
d  NaN    4
b  2.0    2
a  1.0    1
   two three
a    1   NaN
b    2   NaN
c    3   NaN

In [6]:
print df.index, type(df.index)
print df.columns, type(df.columns)

Index([u'a', u'b', u'c', u'd'], dtype='object') <class 'pandas.indexes.base.Index'>
Index([u'one', u'two'], dtype='object') <class 'pandas.indexes.base.Index'>

In [7]:
d = {'one': [1,2,3,4],
    'two': [4,3,2,1]}
print pd.DataFrame(d)
print pd.DataFrame(d, index=['a', 'b', 'c', 'd'])

   one  two
0    1    4
1    2    3
2    3    2
3    4    1
   one  two
a    1    4
b    2    3
c    3    2
d    4    1

In [8]:
data = np.zeros((2,), dtype=[('A','i4'),('B', 'f4'), ('C', 'a10')])
print data
data[:] = [(1,2,'Hello'),(2,3,'World')]
pd.DataFrame(data)

[(0, 0.0, '') (0, 0.0, '')]

   A    B      C
0  1  2.0  Hello
1  2  3.0  World

In [9]:
data2 = [{'a': 1, 'b': 2},
        {'a':5, 'b': 10, 'c': 20}]
print pd.DataFrame(data2)
print pd.DataFrame(data2, index=['first', 'second'])
print pd.DataFrame(data2, index=['first', 'second'], columns=['a', 'b'])

   a   b     c
0  1   2   NaN
1  5  10  20.0
        a   b     c
first   1   2   NaN
second  5  10  20.0
        a   b
first   1   2
second  5  10

In [10]:
df['three'] = df['one'] * df['two']
print df
df['flag'] = df['one'] > 2
print df

   one  two  three
a  1.0    1    1.0
b  2.0    2    4.0
c  3.0    3    9.0
d  NaN    4    NaN
   one  two  three   flag
a  1.0    1    1.0  False
b  2.0    2    4.0  False
c  3.0    3    9.0   True
d  NaN    4    NaN  False

In [11]:
del df['two']
three = df.pop('three')
print df
print three

   one   flag
a  1.0  False
b  2.0  False
c  3.0   True
d  NaN  False
a    1.0
b    4.0
c    9.0
d    NaN
Name: three, dtype: float64

In [13]:
df['foo'] = 'bar'
df

   one   flag  foo
a  1.0  False  bar
b  2.0  False  bar
c  3.0   True  bar
d  NaN  False  bar

In [14]:
print df['one'][:2]

a    1.0
b    2.0
Name: one, dtype: float64

In [16]:
df['one_trunc'] = df['one'][:2]
print df

   one   flag  foo  one_trunc
a  1.0  False  bar        1.0
b  2.0  False  bar        2.0
c  3.0   True  bar        NaN
d  NaN  False  bar        NaN

In [19]:
df = pd.DataFrame(np.random.randn(10, 4), columns=['A', 'B', 'C', 'D'])
print df
df-df.iloc[0]

          A         B         C         D
0  0.706398  0.671383  0.288244 -0.120173
1  0.269821  1.119761 -1.293358 -0.769932
2 -1.128212 -0.615863  0.017752 -1.211186
3  0.739675 -0.921606 -0.775886 -0.108232
4 -0.266713 -1.517538 -1.571865 -1.300642
5  1.094518 -0.301141  1.130025 -0.933073
6  0.214232  0.094632  0.509185 -0.270254
7 -1.238629  1.535938  0.817465  0.131735
8 -0.676314  1.013813 -0.278896  0.301404
9  0.577283 -0.606288  0.627880 -0.196001

          A         B         C         D
0  0.000000  0.000000  0.000000  0.000000
1 -0.436577  0.448378 -1.581602 -0.649759
2 -1.834610 -1.287247 -0.270492 -1.091013
3  0.033277 -1.592989 -1.064130  0.011941
4 -0.973111 -2.188921 -1.860109 -1.180469
5  0.388120 -0.972525  0.841781 -0.812900
6 -0.492166 -0.576752  0.220941 -0.150081
7 -1.945027  0.864555  0.529221  0.251908
8 -1.382713  0.342429 -0.567141  0.421577
9 -0.129115 -1.277672  0.339636 -0.075828

In [23]:
index = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8,3), index=index, columns=list('ABC'))

In [22]:
print df
print df['A']
df - df['A']

                   A         B         C
2000-01-01  1.206331 -0.166532  1.524317
2000-01-02  0.894920 -0.022196  0.085125
2000-01-03 -0.288649  0.178924  2.414823
2000-01-04 -0.066086 -0.006234  1.219443
2000-01-05 -1.695084  1.056638  0.199874
2000-01-06 -1.333363  0.302958  2.023039
2000-01-07  0.249157  0.010507 -1.265057
2000-01-08  0.693029 -0.649775  0.726718
2000-01-01    1.206331
2000-01-02    0.894920
2000-01-03   -0.288649
2000-01-04   -0.066086
2000-01-05   -1.695084
2000-01-06   -1.333363
2000-01-07    0.249157
2000-01-08    0.693029
Freq: D, Name: A, dtype: float64

,2000-01-01 00:00:00,2000-01-02 00:00:00,2000-01-03 00:00:00,2000-01-04 00:00:00,2000-01-05 00:00:00,2000-01-06 00:00:00,2000-01-07 00:00:00,2000-01-08 00:00:00,A,B,C
2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN