In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [3]:
s

0       A
1       B
2       C
3    Aaba
4    Baca
5     NaN
6    CABA
7     dog
8     cat
dtype: object

In [4]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [5]:
s.str.upper()

0       A
1       B
2       C
3    AABA
4    BACA
5     NaN
6    CABA
7     DOG
8     CAT
dtype: object

In [6]:
s.str.len()

0    1.0
1    1.0
2    1.0
3    4.0
4    4.0
5    NaN
6    4.0
7    3.0
8    3.0
dtype: float64

In [7]:
idx = pd.Index([' jack', 'jill ', ' jesse ', 'frank'])

In [8]:
idx

Index([u' jack', u'jill ', u' jesse ', u'frank'], dtype='object')

In [9]:
idx.str.strip()

Index([u'jack', u'jill', u'jesse', u'frank'], dtype='object')

In [11]:
df = pd.DataFrame(np.random.randn(3, 2), columns=[' Column A ', ' Column B '],
                 index=range(3))
df

    Column A    Column B
0    0.143970   -0.432879
1    0.914643    0.525959
2   -0.236650   -0.537961

In [13]:
df.columns.str.strip()

Index([u'Column A', u'Column B'], dtype='object')

In [14]:
df.columns.str.strip().str.lower().str.replace(' ', '_')

Index([u'column_a', u'column_b'], dtype='object')

In [15]:
df.columns.str.split()

Index([[u'Column', u'A'], [u'Column', u'B']], dtype='object')

In [16]:
s2 = pd.Series(['a_b_c', 'c_d_e', np.nan, 'f_g_h'])

In [18]:
s2.str.split('_')

0    [a, b, c]
1    [c, d, e]
2          NaN
3    [f, g, h]
dtype: object

In [20]:
s2.str.split('_').str.get(0)

0      a
1      c
2    NaN
3      f
dtype: object

In [21]:
s2.str.split('_').str[1]

0      b
1      d
2    NaN
3      g
dtype: object

In [22]:
s2.str.split('_', expand=True)

     0     1     2
0    a     b     c
1    c     d     e
2  NaN  None  None
3    f     g     h

In [23]:
s2.str.split('_', expand=True, n=1)

     0     1
0    a   b_c
1    c   d_e
2  NaN  None
3    f   g_h